.Ghore-keshi {
  width: 100%;
  position: relative;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    #e6e6e6,
    #ebebeb,
    white
  );
  padding-right: 40px;
  font-family: var(--fontfamily);
  .Ghore-keshi__titr{
    color: #ff0000;
    font-weight: lighter;
    padding-top: 20px;
    font-size: 30px;
  }
  .Ghore-keshi__second-titr{
    color: #58595b;
    font-size: 20px;
    font-weight: normal;
    padding-top: 5px;
  }
  .Ghore-keshi__text{
    color: #898989;
    padding-top: 20px;
    padding-left: 10px;
    text-align: justify;
    line-height: 35px;
    font-size: 16px;
  }
  .button-more{
    width: 130px;
    height: 40px;
    display: block;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    color: var(--color-light-text);
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    border-radius: 7px;
    border: 1px solid lightgray;
    transition: 300ms;
    &:hover {
      background-color: red;
      color: white;
    }
  }
  .Ghore-keshi__img{
    padding-right: 40px;
  }
}
