.header {
  width: 100%;
  height: 180px;
  background-color: #292929;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  margin: 5px auto;
}
.header__menu__icon {
    bottom: 0;
    margin: 0px 25px 15px 0px;
    position: absolute;
  svg {
    fill: #b0b3b5;
    width: 30px;
    &:hover{
        fill: white;
    }
  }
}
