.iframe {
  width: 100%;
  padding: 25px 0px;
  .iframe__card {
    width: 320px;
    height: 450px;
    margin: 25px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .iframe__card__iframe {
    width: 100%;
    height: 180px;
    .h_iframe-aparat_embed_frame {
      position: relative;
    }
    .h_iframe-aparat_embed_frame .ratio {
      display: block;
      width: 100%;
      height: auto;
    }
    .h_iframe-aparat_embed_frame iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .iframe__card__text-box {
    height: 270px;
    width: 100%;
    padding:0px 20px;
    h1 {
      color: red;
      font-size: 18px;
      font-family: var(--fontfamily);
      padding: 20px 0px 20px;
    }
    p {
      font-family: var(--fontfamily);
      color: var(--color-light-text);
      text-align: justify;
      line-height: 30px;
      font-size: 15px;
    }
  }
}
