.Introduction {
  width: 100%;
  .Introduction__center {
    padding: 0px 20px;
    width: 100%;
  }
}
.text-titr-bold{
  color: red;
  font-size: 18px;
  font-family: var(--fontfamily);
  padding-top: 40px;
}
.text-in-box{
  font-family: var(--fontfamily);
  color: var(--color-light-text);
  text-align: justify;
  line-height: 35px;
  font-size: 15px;
  word-spacing: 1px;
  padding: 20px 0px 10px;
}
.bold-text-in-box {
  font-family: var(--fontfamily);
  color: red;
  font-size: 16px;
}
.Pillar{
  width: 100%;
  padding: 0px 20px 30px;
}
.Golestan-magazine{
  width: 100%;
  padding:10px 20px 50px;
  .text-titr-bold{
    font-size: 20px;
    font-weight: bold;
  }
}
