* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: iransansweb;
  src: url("../../font/IRANSansWeb-Light.eot");
  src: url("../../font/IRANSansWeb-Light.ttf");
  src: url("../../font/IRANSansWeb-Light.woff");
  src: url("../../font/IRANSansWeb-Light.woff2");
}
:root {
  --fontfamily: iransansweb;
  --color-light-text:#7c7d7e;
}
.wraper {
  width: 100%;
}
hr{
  margin: 40px 5px 20px 5px;
  height: 2px;
  border: none;
  background-color: #dee1e3;
}