*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: iransansweb;
    src: url("../font/IRANSansWebFaNum-Medium.eot");
    src: url("../font/IRANSansWebFaNum-Medium.ttf");
    src: url("../font/IRANSansWebFaNum-Medium.woff");
    src: url("../font/IRANSansWebFaNum-Medium.woff2");
}
:root{
    --fontfamily: iransansweb;
}